/* 
    Base
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 18px;
    color: #2c3e50;
    background-image: url("../../assets/img/bg_pages/bg_pages.png");
    background-size: cover;

    /* Center the App Container*/
    /*display: flex;
    justify-content: unset;
    align-items: center;
    */
}

img { max-width: 100%; }

#app {
    margin: 0 auto;
    width: 100%;
}

router-link {
    opacity: 0;
}

.container .btn-continue {
    width: 80px;
    height: 80px;
    float: right;
    background-image: url("../../assets/img/bg_pages/next_arrow.png");
    padding: 0px;
    border-radius: 20%;
    background-size: cover;
    border: #90ff34;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container .btn-return {
    width: 80px;
    height: 80px;
    float: right;
    background-image: url("../../assets/img/bg_pages/back_arrow.png");
    padding: 5px;
    border-radius: 20%;
    background-color: transparent;
    background-size: cover;
    border: #90ff34;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

button, 
.pointer {
    cursor: pointer;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.txt-center{
    text-align: center;
}

/*Texts*/
pre {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: normal;
    white-space: pre-line;
    padding: 16px;
}

/*Desktop*/
@media only screen and (min-width: 600px) {
    html, body {
        height: 100%;
    }

    #app {
        width: 100%;
        height: calc(100vh - 1px);
    }

    #home, 
    .regions-container {
        text-align: left;    
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 30px 10px;
    }

    .white-container {
        min-height: calc(100% - 160px);
        padding: 30px;
        margin-top: 10px;
        overflow: auto;
      }

    .blue-title {
        font-size: 2.4vw;
    }

    .btn-purple--hover:hover {
        opacity: .7;
    }    

    /*
        Region Pages
    */
    .regions-top .logo-funifelt {
        margin: 0;
        width: 100%;
    }

    .regions-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .regions-top .logo-funifelt {
        max-width: 140px;
    }

    .regions-top h3 {
        font-size: 1.4vw;
        margin-top: 15px;    
    }

    .regions-bottom {
        width: 100%;
    }

    .regions-bottom h3 {
        font-size: 16px;
    }

    .help-text { 
        font-size: 1.1vw;
        margin: 14px auto;
    }


    .d-flex {
        display: flex;
    }

    pre {
        padding: 0px;
        font-size: 1.4vw;
    }

    /*Common Layouts*/
    .layout-images-vertical .straight-image {
        width: 100%;
        margin: 0;
    }

    .layout-images-vertical .straight-image:nth-last-of-type(1):before,
    .layout-images-vertical .straight-image:nth-last-of-type(1):after{
        display: none;
    }

    /*
        Activity
    */
    .container-blue {
        width: 70%;
        margin: 40px auto 80px;
        padding: 40px 20px 30px;
    }

    .custom-radio-container label{
        padding-left: 60px;
    }

    .btn-send {
        position: absolute;
        right: 30px;
        bottom: 10px;
        z-index: 3;
    }
}



/*Desktop Large*/
@media only screen and (min-width: 1300px) {
    body{
        height: 100%;
    }
    #app {
        height: 100%;
    }
    pre {
        font-size: 20px;
    }

    .regions-top, 
    .white-container,
    .regions-bottom {
        margin: 10px auto;
        width: 100%;
    }

    .white-container {
        max-height: 800px;
        padding-left: 40px;
        padding-right: 40px;
        flex: 1;
    }

    .blue-title {
        font-size: 34px;
    }

    .help-text {
        font-size: 17px;
    }
}

video::-internal-media-controls-download-button {
    display:none;
}
 
video::-webkit-media-controls-enclosure {
    overflow:hidden;
}
 
video::-webkit-media-controls-panel {
    width: calc(100% + 25px);
}